#root {
  /* max-width: 90vw; */
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  @media (min-width:955px) {
    /* padding: 12px 0px; */
    width: 90vw;
  }
}

body {
  background-image: url('https://99percentinvisible.org/app/uploads/2019/07/solo-jaz.jpg');
  background-repeat: no-repeat;
  /* background-size: cover; */
}